.div-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.logo-medium {
  fill: #000000;
  width: 338px;
  height: 60px;
  justify-content: center;
  align-items: center;
}
ion-toolbar {
  --background: --ion-background-color;
}
.button-text {
  font-family: LatoBoldItalic;
  color: rgba(246, 246, 246, 0.8);
  font-size: 15px;
  align-self: center;
  justify-content: center;
  text-transform: initial;
  margin-left: 10px;
}

#reg-button {
  --background: rgba(var(--ion-color-primary-rgb), 0.7);
  margin-top: 30px;
  height: 50px;
  width: 100%;
  padding: 0px;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --border-radius: 10px;
}
.welcome-text {
  font-family: LatoExtraBold;
  font-size: 24px;
  line-height: 47px;
  letter-spacing: 0.5625px;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 5%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sub-text {
  font-family: LatoBoldItalic !important;
  color: #bebebe;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5625px;
  text-align: center !important;
}
