<ion-content [fullscreen]="true">
  <div class="div-center">
    <ion-grid fixed>
      <ion-row class="title-screen">
        <ion-col size="12" class="title-text">BookSelf</ion-col>
      </ion-row>
      <ion-row class="title-screen">
        <ion-col size="12" class="title-text"
          ><ion-icon
            src="./assets/icon/bookLogo.svg"
            class="logo-large"
          ></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div style="text-align: center; margin-bottom: 40px">
    <ion-spinner name="bubbles" color="success"></ion-spinner>
  </div>
</ion-footer>
